.catalog__container {
    display: grid;
    /* maximum columns available with this size */
    grid-template-columns: repeat(auto-fill, 196px);
    justify-content: center;
    gap: 4px;

    /* 1196 + 20 + 20 */
    max-width: 1236px;
    margin: 0 auto;
    padding: 0 20px;
}

.catalog__btn-add {
    color: #fff;
    font-weight: 600;
    padding-top: 16px;
    padding-bottom: 16px;

    /* take space from the first column to the last */
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    column-gap: 8px;
    justify-self: end;

    /* or margin-left: auto; push itself to the right side*/
    justify-content: end;
}

@media (max-width: 1024px) {
    .catalog__container {
        padding: 0 14px;
    }
}

@media (max-width: 560px) {
    .catalog__container {
        padding: 0 11px;
        grid-template-columns: repeat(auto-fill, 148px);
        gap: 2px;
    }

    .catalog__btn-add {
        padding-top: 12px;
        padding-bottom: 12px;
        font-size: 14px;
        column-gap: 4px
    }
}