.header {
    padding-top: 24px;
    padding-bottom: 24px;
}

.header__container {
    max-width: 1240px;
    /* 1180 + 30 + 30 */
    padding: 0 30px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    column-gap: 25px;
    justify-content: space-between;
}

.header__logo {
    margin-right: 69px;
    /* 94(margin designed) - 25(gap) */
}

.header__search {
    /* to stretch the element using all remaining space */
    flex-grow: 1;
    /* it will push element placeed on right side to the right container's border */
    margin-right: auto;
}

.header__favorite-btn {
    color: #fff;
    transition: color .2s ease-in-out;
    /* because no text inside and it allows to centralize element perfectly */
    line-height: 0;
}

.header__favorite-btn:hover {
    color: tomato;
}

@media (max-width: 1024px) {
    .header__container {
        padding: 0 22px;
    }

    .header__search {
        /* 115(margin designed) - 25(gap) */
        margin-right: 90px;
    }
}

@media (max-width: 768px) {
    .header__container {
        padding: 0 15px;
        /* 580(width designed) + 2*15(padding) */
        max-width: 610px;
    }

    .header__search {
        /* already have 25(gap) */
        margin-right: 0;
    }

    .header__logo {
        /* 37(margin designed) - 25(gap) */
        margin-right: 12px;
    }
}

@media (max-width: 560px) {
    .header {
        padding-top: 20px;
    }

    .header__container {
        /* to have line break */
        flex-wrap: wrap;
        row-gap: 17px;
    }

    .header__search {
        /* move to the last column */
        order: 1;
        /* basic size of the flex-element to whole width */
        flex-basis: 100%;
    }
}