.modal {
    /* with parent flex margin works both horizontally and vertically */
    margin: auto;
    padding: 40px 0;
    cursor: default;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    max-width: 688px;
    transition-property: opacity, visibility;
    transition-timing-function: ease-in-out;
}

.modal_open {
    visibility: visible;
    opacity: 1;
}

.modal__container {
    position: relative;
    background-color: #fff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, .1);
    border-radius: 30px;
    padding: 20px 20px 45px;
}

.overlay {
    position: fixed;
    inset: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, .6);
    cursor: pointer;
    overflow-y: auto;
    overflow-x: hidden;
    opacity: 0;
    visibility: hidden;
    transition-property: opacity, visibility;
    transition-timing-function: ease-in-out;
    display: flex;
}

.overlay_open {
    visibility: visible;
    opacity: 1;
}