.player {
    position: fixed;
    left: 0;
    right: 0;
    bottom: -100%;

    background-color: rgba(255, 255, 255, .7);
    backdrop-filter: blur(6px);
    border-radius: 20px;

    max-width: 1228px;
    margin: 0 auto;
    padding: 24px;

    transition: bottom .5s ease;
}

.player_active {
    bottom: 26px;
}

.player__container {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 1fr;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
}



.player__controller {
    display: flex;
    align-items: center;
    gap: 15px;
}

.player__icon {
    display: block;
    width: 24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid transparent;

    transition: background-color, border-color .5s ease;
}

.player__icon:hover {
    background-color: #e6a93f;
    border-color: #000;
}

.player__icon_stop {
    background-image: url("../img/stop.svg");
}

.player__icon_prev {
    background-image: url("../img/prev.svg");
}

.player__icon_pause {
    background-image: url("../img/pause.svg");
}

.player__icon_play {
    background-image: url("../img/play.svg");
}

.player__icon_next {
    background-image: url("../img/next.svg");
}

.player__icon_like {
    background-image: url("../img/like-o.svg");
}

.player__icon_like_active {
    filter: drop-shadow(0 0 2px tomato);
}

/* Player progress */
.player__progress-wrap {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-right: 9px;
}

.player__progress {
    /* to stretch the element using all remaining space */
    flex-grow: 1;
    max-width: 487px;
}

.player__progress-input {
    width: 100%;
    /* to feel clicks a bit outside */
    padding: 9px 0;
    cursor: pointer;

    background-color: transparent;
    /* hide standard element range view */
    appearance: none;
    -webkit-appearance: none;
}

.player__progress-input::-webkit-slider-runnable-track {
    background-color: #1e5a32;
    border: none;
    height: 6px;

    transition: background-color .5s ease;
}

.player__progress-input:hover::-webkit-slider-runnable-track,
.player__progress-input:focus::-webkit-slider-runnable-track {
    background-color: #e6a93f;
}

.player__progress-input::-webkit-slider-thumb {
    /* disable default */
    -webkit-appearance: none;
    width: 12px;
    height: 24px;
    /* eqals to "feeling" padding */
    margin-top: -9px;
    background-color: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, .25);
    border-radius: 30px;

    transition: background-color .5s ease;
}

.player__progress-input:hover::-webkit-slider-thumb,
.player__progress-input:focus::-webkit-slider-thumb {
    background-color: #1e5a32;
}



.player__time {
    font-size: 14px;
    display: flex;
    gap: 4px;
}


/* Volume */
.player__volume-wrap {
    display: flex;
    align-items: center;
    gap: 10px;
}

.player__volume {
    background: url("../img/volume.svg") center/contain no-repeat;
    height: 24px;
    width: 146px;
}

.player__volume-input {
    width: 100%;
    height: 100%;
    cursor: pointer;

    background-color: transparent;
    /* hide standard element range view */
    appearance: none;
    -webkit-appearance: none;
}

.player__volume-input::-webkit-slider-thumb {
    /* disable default */
    -webkit-appearance: none;
    width: 12px;
    height: 24px;
    background-color: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, .25);
    border-radius: 30px;

    transition: background-color .5s ease;
}

.player__volume-input:hover::-webkit-slider-thumb,
.player__volume-input:focus::-webkit-slider-thumb {
    background-color: #1e5a32;
}



.player__icon_mute {
    background-image: url("../img/mute-on.svg");
}

.player__icon_mute-off {
    background-image: url("../img/mute-off.svg");
}

@media (max-width: 1024px) {
    .player__container {
        grid-template-columns: 1fr 1fr 2fr 1fr;
    }
}

@media (max-width: 968px) {
    .player {
        /* left and right "paddings" from view-port borders */
        left: 34px;
        right: 34px;

        padding: 22px 60px;
        border-radius: 30px;
    }

    .player_active {
        bottom: 24px;
    }

    .player__container {
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 27px;
    }

    .player__progress-wrap {
        /* move to the last column */
        order: 1;
        /* basic size of the grid-element: take 1 column to 3 spans: grid-column: 1 / span 3; 
        or till the end: */
        grid-column: 1 / -1;
    }

    .player__progress {
        max-width: none;
    }

    .player__controller {
        justify-self: center;
    }

    .player__volume-wrap {
        justify-self: end;
    }
}

@media (max-width: 740px) { 
    .player {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .player_active {
        bottom: 0;
    }

    .player__container {
        grid-template-columns: 1fr 1fr;
    }

    .player__progress-wrap {
        padding-left: 0;
    }

    .player__volume-wrap {
        display: none;
    }

    .player__controller {
        justify-self: end;
    }
}

@media (max-width: 560px) { 
    .player {
        left: 0;
        right: 0;

        padding: 16px 15px;
        row-gap: 16px;
    }

    .player__container {
        grid-template-columns: 1fr;
    }

    .player__controller {
        justify-self: center;
    }
}