.search {
    position: relative;
    max-width: 692px;
    height: 36px;
}

.search__input {
    width: 100%;
    height: 100%;

    border-radius: 20px;
    border: none;
    padding-left: 16px;
    /* 24 (icon size) + 16 + 6(icon padding from left side) */
    padding-right: 46px; 

    font-size: 14px;
    font-weight: 300;
}

.search__input::-webkit-search-cancel-button {
    display: none;
}

.search__btn {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    line-height: 0;
}
