@import "normalize.css";
@import "fonts.css";
@import "default.css";

@import "header.css";
@import "search.css";
@import "catalog.css";
@import "track.css";
@import "track-info.css";
@import "player.css";
@import "modal.css";

body {
    min-width: 320px;
    /* to cover 100% of viewport */
    min-height: 100vh;


    font-family: "SF UI Display", sans-serif;
    font-size: 16px;
    /* equal to 120%, but calculated from current font size, not from set 16px */
    line-height: 1.2;

    background-image: url("../img/bg.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    padding-bottom: 172px;
}

@media (max-width: 740px) { 
    body {
        padding-bottom: 187px;
    }
}