.track-info__title {
    font-weight: 600;
    margin-bottom: 6px;
}

.track-info__artitst {
    font-weight: 300;
    font-size: 14px;
}

@media (max-width: 560px) { 
    .track-info_mobile-center {
        text-align: center;
    }

    .track-info__title {
        font-size: 14px;
        margin-bottom: 4px;
    }
    
    .track-info__artitst {
        font-size: 12px;
    }
}