.track {
    padding: 6px;
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 20px;

    /*  if track__info contains more text, it allows other track__info in the row be expanded to equal height 
        see track__info just below */
    display: flex;
    flex-direction: column;
}

.track__info {
    width: 100%;
    /* to stretch the element using all remaining space */
    flex-grow: 1;  

    background-color: #fff;
    border-radius: 0 0 12px 12px;
    padding: 14px 8px;
    text-align: left;
}

.track:hover .track__img-wrap::after,
.track:focus .track__img-wrap::after {
    transform: translate(-50%,-50%) rotateY(0);
    opacity: 1;
}

.track:active .track__img-wrap::after {
    transform: translate(-50%,-50%) rotateY(0) scale(1.3);
    opacity: 1;
}

.track_active {
    border-color: #fff;
    background-color: rgba(255, 255, 255, .5);
    transition: background-color .3s ease-in-out;
}

.track_active .track__img-wrap::after {
    transform: translate(-50%,-50%) rotateY(0);
    background-image: url("../img/pause.svg");
    transition-property: background-color, transform;
    opacity: 1;
}

.track_active:hover .track__img-wrap::after {
    background-color: #fff;
}

.track_active:hover {
    background-color: rgba(255, 255, 255, .8);
}

.track_paused .track__img-wrap::after {
    background-image: url("../img/play.svg");
}

.track__img-wrap {
    position: relative;
    border-radius: 12px 12px 0 0;
    overflow: hidden;
    line-height: 0;
}

.track__img-wrap::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotateY(90deg);
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 50%;

    background-color: rgba(255, 255, 255, .8);
    background-image: url("../img/play.svg");
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;

    transition-property: transform, opacity;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

@media (max-width: 560px) { 
    .track {
        padding: 3px;
        border-width: 1px;
        border-radius: 14px;
    }

    .track__info {
        padding: 8px;
    }
}